---

- name: Install rke2
  hosts: all
  tasks:
    - name: Ensure packages are installed
      become: true
      become_user: root
      ansible.builtin.apt:
        pkg:
          - gnupg2
          - cloud-guest-utils
          - gdisk
        state: present
        update_cache: true

    - name: Ensure ufw is installed
      become: true
      become_user: root
      ansible.builtin.apt:
        pkg:
          - ufw
        state: present

    - name: Add allow rule for ssh
      become: true
      become_user: root
      community.general.ufw:
        rule: allow
        port: ssh
        proto: tcp
        comment: "Ratelimit SSH"

    - name: Add allow rule for k8s api
      become: true
      become_user: root
      community.general.ufw:
        rule: allow
        port: 6443
        proto: tcp
        comment: "Ratelimit K8S API"

    - name: Add allow rule for k8s metrics api
      become: true
      become_user: root
      community.general.ufw:
        rule: allow
        port: 10250
        proto: tcp
        comment: "Ratelimit K8S API Metrics"

    - name: Enable UFW
      become: true
      become_user: root
      community.general.ufw:
        state: enabled

    - name: Add entries to /etc/hosts for rke2.ord.pm8s.io
      become: true
      become_user: root
      ansible.builtin.lineinfile:
        path: /etc/hosts
        line: "{{ hostvars[item]['ansible_default_ipv4']['address'] }} rke2.ord.pm8s.io"
        state: present
      loop: "{{ groups['all'] }}"

    - name: Fetch rke2 installer
      become: true
      become_user: root
      ansible.builtin.get_url:
        url: https://get.rke2.io
        dest: /tmp/install_rke2.sh
        mode: '0700'
        owner: root
        group: root

    - name: Run rke2 installer
      become: true
      become_user: root
      ansible.builtin.command:
        cmd: /tmp/install_rke2.sh
      changed_when: true

    - name: Ensure rke2 config dir exists
      become: true
      become_user: root
      ansible.builtin.file:
        dest: /etc/rancher/rke2/
        state: directory
        owner: root
        group: root
        mode: '0700'

    - name: Template rke2 config file - control-plane
      become: true
      become_user: root
      ansible.builtin.template:
        src: "{{ playbook_dir }}/../tmpl/rke2-config-server.yaml"
        dest: /etc/rancher/rke2/config.yaml
        owner: root
        group: root
        mode: '0700'
      vars:
        tmpl_rke2_token: "{{ rke2_token }}"
        tmpl_cluster_cidr: "{{ rke2_cluster_cidr }}"
        tmpl_service_cidr: "{{ rke2_service_cidr }}"
        tmpl_cluster_dns: "{{ rke2_cluster_dns }}"
      when:
        - (inventory_hostname in groups['control_plane'])

    - name: Template rke2 config file - agent
      become: true
      become_user: root
      ansible.builtin.template:
        src: "{{ playbook_dir }}/../tmpl/rke2-config-agent.yaml"
        dest: /etc/rancher/rke2/config.yaml
        owner: root
        group: root
        mode: '0700'
      vars:
        tmpl_rke2_token: "{{ rke2_token }}"
      when:
        - (inventory_hostname in groups['worker'])

    - name: Create symlink from /usr/local/share/rke2/rke2-cis-sysctl.conf to /etc/sysctl.d/
      become: true
      become_user: root
      ansible.builtin.file:
        src: /usr/local/share/rke2/rke2-cis-sysctl.conf
        dest: /etc/sysctl.d/60-rke2-cis.conf
        force: true
        owner: root
        group: root
        state: link

    - name: Run sysctl --system
      become: true
      become_user: root
      ansible.builtin.command:
        cmd: "sysctl --system"
      changed_when: true
      failed_when: false
